x64/
x86/
Win32/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/

**/x64/
**/x86/
**/Win32/
**/Debug/
**/Release/

.vs/
.vscode/

obj/
**/obj/
ipch/
**/ipch/

*.obj
*.iobj
*.ipdb
*.pdb
*.ilk
*.idb
*.exp
*.lib
*.dll
*.exe
*.sys

*.log
*.tlog
*.lastbuildstate
*.buildlog
*.suo
*.user
*.aps

*.pch

*.res

*.dmp
*.dump
*.map

*.bak

prototype.exe
example.exe

*~
*.tmp
*.swp
*.swo

.DS_Store
Thumbs.db

!/example/**/*.cpp
!/example/**/*.h